body {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
header {
    background: #C60000;
    height: 46px;
}
header img {
    height: 29px;
    display: block;
    margin: auto;
    padding-top: 7px;
}